<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/' > 
  
  <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] %c{3\}:%L - %m%n" />
    </layout>
  </appender>
  
  <appender name="SERVER" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="./logs/jetty.log" />
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>
    <param name="Append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%c:%L] - %m%n"/>
    </layout>
  </appender>
  
  <appender name="CORE" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="File" value="./logs/core.log" />
    <param name="DatePattern" value="'.'yyyy-MM-dd"/>
    <param name="Append" value="true" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%c:%L] - %m%n"/>
    </layout>
  </appender>
  
  <category name="com.sky" additivity="false">
    <priority value="debug" />
    <appender-ref ref="SERVER" />
    <appender-ref ref="STDOUT" />
  </category>
  
  <category name="com.joe.core" additivity="false">
    <priority value="debug" />
    <appender-ref ref="CORE" />
    <appender-ref ref="STDOUT" />
  </category>
  
  <root>
    <level value="debug" />
    <appender-ref ref="STDOUT" />
  </root>
</log4j:configuration>